.screen {
    background-color: white;
    height: 595px;
    border-radius: 10px;
    width: 250px;
    margin-left: 565px;
    margin-top: -684px;
    overflow: scroll;
    padding: 25px;
}

.contacts-screen {
    background-image: url();
    height: 900px;
    padding: 20px;

}

.contact-card {
    padding: 5px;
    overflow: hidden;
    margin: 8px;
    border-radius: 8px;
    border: solid 1px white;
}

.contact-card .profile-pic {
    float: left;
}

.contact-card .contact-data {
    font-size: 12px;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    text-align: left;
}

.collapsed {
    display: none;
}

.hide {
    display:none;
}

input {
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

fieldset {
    border: none;
}